<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	
	<body>
	
		<div class="login-dialog">
		
			<label class="header1">Sign in to Simple Web Template</label> <br/>
			<div class="horizontal-line"></div>
			
			<input type="text" name="name" placeholder="Name"/> <br/>
			<input type="password" name="password" placeholder="Password"/> <br/>
			
			<input type="checkbox" value="remember">
			<label>Remember me</label> <br/>
			
			<input type="button" value="Sign in">
		</div>
	
	</body>
</html>