<html ng-app="MessageApp">

	<head>
		<script src="../js/bower_components/angular/angular.js"></script>
	  	<script src="../js/controller/loginCtrl.js"></script>
	  	<script src="../js/controller/utilCtrl.js"></script>
	  	
		<!-- localization JSON object -->
	  	<script src="content/loginViewContent.js"></script>

		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	
	
	<body ng-controller="LoginCtrl">
		<div class="login-dialog">
			
			<div class="language.header">
				<div ng-if="LangCurr() != 'en'">
					<a href="" ng-click="LangSet('en')">English</a>
				</div>
						
				<div ng-if="LangCurr() != 'de'">
					<a href="" ng-click="LangSet('de')">Deutsch</a>
				</div>
			</div>

			<label class="header1">{{LangGet('header')}}</label> <br/>
			<div class="horizontal-line"></div>

			<form ng-submit="login()" ng-if="!isLoggedIn">
			
				<div class="error-dialog" ng-if="hasError">
					<label>{{LangGet('error.login')}}</label>
				</div>
						
				<input type="text" name="name" placeholder="{{LangGet('placeholder.name')}}" 
					ng-model="$parent.name" required/> <br/>
					
				<input type="password" name="password" placeholder="{{LangGet('placeholder.pwd')}}"
					ng-model="$parent.password" required/> <br/>
				
				<input type="checkbox" value="remember">
				<label>{{LangGet('checkbox.remember.me')}}</label> <br/>
				
				<input type="submit" value="{{LangGet('button.login')}}"/>
			</form>
			
			<form ng-submit="logout()" ng-if="isLoggedIn">
				<label>{{LangGet('message.logged.in')}} {{name}}.</label> <br/>					
				<input type="submit" value="{{LangGet('button.logout')}}"/>
			</form>
		</div>
	</body>
</html>