<html ng-app="MessageApp">

	<head>
	  	<script src="../js/bower_components/angular/angular.js"></script>
	  	<script src="../js/controller/messageCtrl.js"></script>
	  	<script src="../js/controller/utilCtrl.js"></script>
	  	
		<link rel="stylesheet" type="text/css" href="../css/main.css">
	</head>
	
	<body ng-controller="MessageCtrl">
	
		<div class="message-dialog">
			
			<div class="message-filter">	
				
				<a href="loginView.html" ng-if="!isLoggedIn">Login</a>	
				<a href="" ng-if="isLoggedIn" ng-click="logout()">Logout</a>	
						
				<input  type="text" placeholder="Filter Messages" ng-model="query">
			</div>
			
			<div>
				<div class="col-1">
				
					<div class="error-dialog" ng-if="hasError">
						<label class="header2">{{errorMsg}}</label>
						<label name="status">{{errorStatus}}</label>
					</div>
						
					<div ng-if="adminToolsEnabled && !hasError">
						<input type="button" value="New Message" ng-click="add()"/>
					</div>
									
					<div class="div-message" ng-repeat="mess in messages | filter:query">
						<div ng-if="adminToolsEnabled && !mess.isEditMode">
							<input type="button" value="Edit" ng-click="edit(mess)"/>
							<input type="button" value="Delete" ng-click="remove(mess)"/>					
						</div>
					
						<div ng-if="!mess.isEditMode">
							<label class="header2">{{mess.caption}}</label> <br/>
							<label class="message-body">{{mess.text}}</label>
						</div>
						
						<div ng-if="mess.isEditMode">
							<input type="text" ng-model="mess.caption"/>
							<input type="text" ng-model="mess.text"/>
							
							<div>
								<input type="button" value="Save" ng-click="save(mess)"/>
								<input type="button" value="Cancel" ng-click="cancel(mess)"/>
							</div>	
						</div>
					</div>
				</div>
				
				<div class="col-2">
					<div class="div-message" ng-repeat="mess in messages">
						<label>{{mess.caption}}</label> <br/>
					</div>
				</div>
			</div>
		</div>
	
	</body>
</html>