@CHARSET "UTF-8";


label, input, a {
 	font-family: Roboto Slab;	
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: un;
}

.header1 {
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

.header2 {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}


@media all and (max-width: 320px) {
	.header1 {
	    font-size: 24px;
	}
}


.horizontal-line {
	width: 100%;
	height: 1px;
	margin-bottom: 15px;
	background: linear-gradient(to right, transparent, #65a9d7, #65a9d7, transparent) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.error-dialog {
    background-color: #ffb0b0;
    border: 1px solid red;
    font-size: 12px;
    padding: 5px;
}

input[type="text"], input[type="password"] {
    
    padding: 5px;   
    border: 1px solid #DDDDDD;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}

input[type="text"]:hover, input[type="password"]:hover
{
    border:1px solid #cccccc;
}

input[type="text"]:focus, input[type="password"]:focus
{
    box-shadow:0 0 2px #FFFE00;
}


input[type="button"], input[type="submit"] {
   border: none;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#006eb8), to(#65a9d7));
   background: -webkit-linear-gradient(top, #006eb8, #65a9d7);
   background: -moz-linear-gradient(top, #006eb8, #65a9d7);
   background: -ms-linear-gradient(top, #006eb8, #65a9d7);
   background: -o-linear-gradient(top, #006eb8, #65a9d7);
   padding: 6.5px 13px;

   color: white;
   font-size: 18px;
}
   
input[type="button"]:hover, input[type="submit"]:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
   
input[type="button"]:active, input[type="submit"]:active {
   border-top-color: #1b435e;
   background: #1b435e;
}
